@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-brand" }))
    {
                    @Html.AntiForgeryToken()
   
   
       
        <div id="collapseProfile" class="collapse" aria-labelledby="headingProfile"
             data-parent="#accordionSidebar">
            <div class="bg-light py-1 text-center text-justify rounded">
                <a class="collapse-item  text-left " href="@Url.Action("Details", "Profile")" title="Perfil">Perfil</a>
                <a class="collapse-item  text-left " href="javascript:document.getElementById('logoutForm').submit() ">Cerrar sesión</a>
                 </div>
        </div>
           
    }
}
else
{

    @Html.ActionLink("  Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { title="Register", id = "registerLink" });
    @Html.ActionLink(" Iniciar", "Login", "Account", routeValues: null, htmlAttributes: new { title="Iniciar Sesion", id = "loginLink"});

}

        