
@{
    ViewBag.Title = "Bienvenido";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/sb-admin-2.min.css" />
</head>
<body>

    <h1 style="font-size: 70px;margin-left: 350px; margin-top: 240px; opacity: 0.1;">BIENVENIDO</h1>

</body>
