@{
    ViewBag.Title = "Inicio";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/sb-admin-2.min.css" />
</head>
<body class=" bg-login-image" style=" background-image: url('https://cdn.pixabay.com/photo/2020/09/22/03/23/doctor-5591782_1280.jpg')">


    <div style="margin-left: 800px; margin-top: 200px;">
        <h1 style="color: gray; font-size: 60px; font-family: Montserrat;">HOSPITAL EXPRESS</h1>
        <div class="row">
            <div class="col">
                <p class="text-center" style="margin-left: 120px; margin-top: 50px;">
                    <button class="btn btn-light"> @Html.ActionLink("Nuevo Usuario", "Register", "Account")</button>
                </p>
            </div>
            <div class="col" style="margin-right: 170px; margin-top: 50px;">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-light"> @Html.ActionLink("Iniciar Sesion", "Login", "Account")</button>
                </div>
            </div>
        </div>
        </div>  
</body>
</html>