@{
    ViewBag.Title = "Inicio";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/sb-admin-2.min.css" />
</head>
<body class=" bg-login-image" style=" background-image: url('https://cdn.pixabay.com/photo/2020/09/22/03/23/doctor-5591782_1280.jpg')">


    <div style="margin-left: 800px; margin-top: 200px;">
        <h1 style="color:royalblue; font-size: 60px; font-family: Montserrat;">HOSPITAL EXPRESS</h1>
        <div class="row">
            <div class="">
            <div class="">
                <p class="text-center" style="margin-left: 220px; margin-top: 35px;">
                    <button class="btn btn-light" style="width: 180px; height: 60px; font-size: 25px;"> @Html.ActionLink("Entrar", "Login", "Account")</button>
                </p>
            </div>
        </div>
        </div>  
        </div>
</body>
</html>