
@{
    ViewBag.Title = "Agregar";
}


<div class="container" style="font-family:'Times New Roman', Times, serif;">
    <div class="row justify-content-center">
        <div class="col-md-5" >
            <div class="card">
                <h2 class="card-header text-center mt-1 p-2 bg-gradient-primary text-light" >Agregar Doctores</h2>
                @*Se relaciona con el metodo de agregar del controlador*@
            <form action="@Url.Action("Agregar")" class="text-center p-1" method="post">
                @Html.AntiForgeryToken()
                @*Agregamos los botones para llenar los campos*@

           
                <input type="text" name="Nombre"  placeholder="Nombre completo del Doctor" class="form-control col-md-12"/>
                <br />
                <input type="text" name="Imagen"  placeholder="Agregar Url de la Imagen" class="form-control col-md-12" />
                <br />
                <input type="text" name="Telefono" placeholder="Numero de Telefono " class="form-control col-md-12" />
                <br />
                <input type="text" name="Especialidad" placeholder="Especialidad" class="form-control col-md-12" />
                <br />
                <input type="text" name="Servicio" placeholder="Servicio que ofrece" class="form-control col-md-12" />
                <br />
                <input type="submit" value="Agregar" class="btn btn-success" />
                <a href="@Url.Action("Index")" class="btn btn-danger ml-5 p-2 py-2">Cancelar</a>
            </form>
            </div>
        </div>
    </div>
</div>


