@model PruebaGit.Web.Models.Actividad

@{
    ViewBag.Title = "Delete";
}


<div class="container text-light" style="font-style:oblique">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-header bg-primary">
                    <h3 class="card-title text-light">Estas seguro que quieres eliminar este registro?</h3>
                    <div>
                        <hr />
                        <dl class="dl-horizontal text-light">
                            <dt>
                                @Html.DisplayNameFor(model => model.ActividadId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ActividadId)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions text-center">
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <a href="@Url.Action("Index","Home")" class="btn btn-primary">Regresar</a>
                            </div>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
